.about-us {
  padding-top: 28px;
  padding-bottom: 25px;

  @media (min-width: @tablet-width) {
    padding-top: 54px;
    padding-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    padding: 60px 225px 52px;
  }
}

.about-us__title {
  margin: 0;
  margin-bottom: 3px;

  font-size: 25px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 33px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 35px;

    font-size: 53px;
    line-height: 57px;
  }
}

.about-us__list {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.about-us__characteristic {
  position: relative;
  margin: 0;
  padding-top: 83px;

  line-height: 20px;

  @media (min-width: @tablet-width) {
    padding-top: 70px;
    padding-bottom: 40px;
    width: 300px;
    flex-grow: 1;

    font-size: 20px;
    line-height: 22px;

    &--eco {
      order: 0;
    }

    &--price {
      order: 2;
    }

    &--likes {
      order: 4;
    }

    &--handmade {
      order: 1;
    }

    &--local {
      order: 3;
    }

    &--present {
      order: 5;
    }
  }

  &::before {
    content: "";

    position: absolute;
    top: 30px;
    left: 0;

    width: 60px;
    height: 60px;

    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      top: 20px;
    }
  }

  &--eco::before {
    left: 8px;

    background-image: url("../img/icon-feature-flower.svg");
  }

  &--price::before {
    background-image: url("../img/icon-feature-money.svg");
  }

  &--likes::before {
    left: 8px;

    background-image: url("../img/icon-feature-heart.svg");
  }

  &--handmade::before {
    left: 3px;

    background-image: url("../img/icon-feature-ball.svg");
  }

  &--local::before {
    left: -7px;

    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--present::before {
    background-image: url("../img/icon-feature-gift.svg");
  }
}
