.button {
  display: block;
  padding: 16px;

  font-family: inherit;
  font-size: 17px;
  font-weight: 800;
  line-height: 20px;
  color: @color-secondary;
  text-align: center;
  text-transform: uppercase;

  background-color: @color-main;
  border: 2px solid @grey;

  &--cart-add {
    color: @color-main;

    background-color: @color-vibrant;
    border: none;
  }
}
