.contacts__title {
  margin: 0;

  font-size: 18px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 57px;
  }
}

.contacts__list {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: @color-font--secondary;

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }
}

.contacts__text {
  margin: 0;
}
