.logo__image {
  width: 102px;
  height: 34px;

  &--decorated {
    width: 86px;
    height: 35px;

    @media (min-width: @tablet-width) {
      width: 112px;
      height: 46px;
    }

    @media (min-width: @desktop-width) {
      width: 149px;
      height: 72px;
    }
  }
}
