.reviews-list {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  min-height: 650px;

  //Временно
  background-color: lightgreen;
  border: 1px solid grey;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    min-height: 460px;
    margin-bottom: 76px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}
