.shop {
  padding-top: 35px;
  padding-bottom: 35px;

  @media (min-width: @tablet-width) {
    padding-top: 68px;
    padding-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    padding-top: 112px;
  }
}

.shop__card {
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    margin-right: 50px;
  }

  &:last-child {
    margin-bottom: 0;
    margin-right: 0;
  }
}
