.user-menu {
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: @tablet-width) {
    order: 1;
    display: flex;
    justify-content: space-between;
    width: 400px;
  }

  @media (min-width: @desktop-width) {
    order: 2;
  }
}

.user-menu__item {
  position: relative;

  padding: 27px 27px 27px 75px;

  text-align: left;

  @media (max-width: @mobile-width-only) {
    border-top: 1px solid @lighterGrey;
  }

  @media (min-width: @tablet-width) {
    padding: 30px 50px 30px 82px;

    text-align: right;
  }

  &::before {
    content: "";

    position: absolute;
    top: 32px;
    left: 30px;

    width: 21px;
    height: 18px;

    background-repeat: no-repeat;
    opacity: 0.2;

    @media (min-width: @tablet-width) {
      top: 35px;
    }
  }

  &--search {
    text-align: left;

    &::before {
      background-image: url("../img/icon-search.svg");
    }

    @media (min-width: @tablet-width) {
      width: 86px;
      padding-top: 35px;
      padding-left: 30px;

      font-size: 0;

      border-left: 1px solid @lighterGrey;
      border-right: 1px solid @lighterGrey;

      &::before {
        left: 35px;
      }
    }
  }

  &--cart::before {
    background-image: url("../img/icon-cart.svg");

    @media (min-width: @tablet-width) {
      left: 30px;
    }
  }
}
