.video-card {
  display: flex;
  flex-direction: column;
  width: 260px;
  //min-height: 503px;
  margin-bottom: 60px;

  //Временно
  // background-color: lightcoral;
  // border: 1px solid grey;

  @media (min-width: @tablet-width) {
    width: @tablet-width - 100px;
    //min-height: 743px;
    // display: flex;
    // flex-direction: column;
    padding-bottom: 45px;
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width - 100px;
    //min-height: 455px;
    display: block;
    padding-bottom: 60px;
    margin-bottom: 105px;
  }
}

.video-card__title {
  order: 0;
  //display: block;
  margin: 0;
  padding: 24px 26px 24px 90px;

  font-size: 17px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    order: 1;
    padding: 35px 107px;

    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    //display: inline;
    padding-top: 97px;
    padding-right: 55px;
    padding-bottom: 35px;
  }
}

.video-card__visual {
  position: relative;

  order: 1;

  @media (min-width: @tablet-width) {
    order: 0;
  }

  @media (min-width: @desktop-width) {
    order: 0;
    float: left;
    margin-right: 78px;
  }
}

.video-card__image {
  display: block;
  width: 260px;
  height: 150px;

  @media (min-width: @tablet-width) {
    width: 668px;
    height: 455px;
  }

  @media (min-width: @desktop-width) {
    width: 682px;
    //float: left;
    //margin-right: 78px;
  }
}

.video-card__icon {
  position: absolute;
  left: 50%;
  top: 50%;

  width: 101px;
  height: 77px;
  margin: -36px -50px;
}

.video-card__description {
  order: 2;
  width: 260px;
  padding: 27px 34px;

  @media (min-width: @tablet-width) {
    //order: 2;
    width: 100%;
    padding: 0 40px;
  }
}

.video-card__text {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 13px;
  color: @color-font--secondary;

  @media (min-width: @tablet-width) {
    font-size: 15px;
    line-height: 30px;

    margin-bottom: 35px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 45px;
  }
}

.video-card__btn {
  order: 3;
  width: 100%;

  line-height: 16px;

  @media (min-width: @desktop-width) {
    display: inline-block;
    width: 230px;
  }
}
