.video-card {
  display: flex;
  flex-direction: column;

  border: 1px solid @lighterGrey;

  @media (min-width: @tablet-width) {
    padding-bottom: 46px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    min-height: 455px;
    padding-bottom: 60px;
  }

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.video-card__title {
  position: relative;

  order: 0;
  margin: 0;
  padding: 24px 26px 24px 90px;

  font-size: 17px;
  line-height: 24px;

  &::before {
    content: "";

    position: absolute;
    top: 28px;
    left: 33px;

    width: 32px;
    height: 32px;

    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    order: 1;
    padding: 38px 105px 32px;

    font-size: 20px;

    &::before {
      top: 32px;
      left: 41px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 95px;
    padding-right: 55px;
    padding-bottom: 33px;

    &::before {
      top: 41px;
      left: initial;
      right: 255px;
    }
  }
}

.video-card__visual {
  position: relative;

  order: 1;

  @media (min-width: @tablet-width) {
    order: 0;
  }

  @media (min-width: @desktop-width) {
    order: 0;
    float: left;
    margin-right: 78px;
  }
}

.video-card__img {
  display: block;
  width: 260px;
  height: 150px;

  @media (min-width: @tablet-width) {
    width: 668px;
    height: 455px;
  }

  @media (min-width: @desktop-width) {
    width: 682px;
  }
}

.video-card__icon {
  position: absolute;
  left: 50%;
  top: 50%;

  width: 101px;
  height: 77px;
  margin: -36px -50px;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.video-card__description {
  order: 2;
  width: 260px;
  padding: 27px 34px 32px;

  @media (min-width: @tablet-width) {
    width: 100%;
    padding: 0 40px;
  }
}

.video-card__text {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 13px;
  color: @color-secondary;

  @media (min-width: @tablet-width) {
    font-size: 15px;
    line-height: 30px;

    margin-bottom: 35px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 46px;
  }
}

.video-card__btn {
  order: 3;
  width: 100%;

  line-height: 17px;

  @media (min-width: @desktop-width) {
    display: inline-block;
    width: 230px;
  }
}
