.week-product__name {
  font-size: 25px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.week-product__title {
  margin: 0;

  font-size: 17px;
  font-weight: 800;
  line-height: 20px;
  color: @color-vibrant;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    line-height: 17px;
  }
}

.week-product__description {
  font-size: 15px;
  font-weight: 400;
  color: @color-font--secondary;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.week-product__characteristics {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: @color-font--secondary;
}

.week-product__price {
  color: @color-font--secondary;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }
}
