.week-product__name {
  margin: 0;
  margin-bottom: 5px;

  font-size: 25px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.week-product__title {
  margin: 0;

  font-size: 17px;
  font-weight: 800;
  line-height: 20px;
  color: @color-vibrant;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    line-height: 17px;
  }
}

.week-product__image {
  display: block;
}

.week-product__description {
  margin: 0;
  margin-bottom: 27px;

  font-size: 15px;
  font-weight: 400;
  color: @color-font--secondary;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.week-product__characteristics {
  margin: 0;

  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: @color-font--secondary;
}

.week-product__value {
  margin: 0;
}


.week-product__price {
  margin: 0;
  padding: 29px;

  text-align: center;
  color: @color-font--secondary;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }
}

.week-product__header {
  margin-bottom: 23px;
}

.week-product__btn {
  width: 100%;
}
